{
    "presets": [
        "react",
        "env"
    ],
    "plugins": [
        "react-hot-loader/babel",
        "syntax-async-functions",
        "transform-regenerator",
        "transform-object-rest-spread"
    ],
    "env": {
        "test": {
            "plugins": [
                "syntax-async-functions",
                "transform-regenerator",
                "transform-object-rest-spread"
            ]
        }
    }
}