{
    "presets": [
        "@babel/preset-react",
        [
            "@babel/env",
            {
                "targets": {
                    "browsers": [
                        "last 2 versions",
                        "safari >= 7"
                    ]
                },
                "useBuiltIns": "usage",
                "corejs": 3,
            }
        ]
    ],
    "plugins": [
        "react-hot-loader/babel",
        "babel-plugin-styled-components",
        "@babel/plugin-syntax-dynamic-import",
        "@babel/plugin-proposal-class-properties"
    ]
}