{
  "check-coverage": true,
  "per-file": true,
  "cache": true,
  "all": true,
  "lines": 0,
  "statements": 0,
  "functions": 0,
  "branches": 0,
  "exclude": [
    "dist",
    "**/*.spec.js",
    "**/*.config.js",
    "src/client/main.js",
    "src/client/redux",
    "src/client/shared/styles/*.js",
    "src/client/shared/initialState.js"
  ],
  "include": [
    "src/client/**/*.js",
    "src/client/**/*.jsx"
  ],
  "reporter": [
    "lcov",
    "html",
    "text",
    "text-summary"
  ]
}