.root-layout {
    display: grid;
    grid-template-columns: [left-margin] 10vw [center-content-col] auto [right-margin] 10vw;
    grid-template-rows: [header] auto [center-content-row] auto;
}

h1 {
    font-size: 6em;
}

h2 {
    font-size: 1.5em;
}